@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background-image: url(./assets/congrats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}